Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
HeigthMaps/Rugged Terrain with Rivers/Rugged Terrain Diffuse EXR.exr
*.exr
